<label for="with-warrenty" class="switch-container">
		<input hidden type="checkbox" id="with-warrenty" checked="<%= data.public %>" />
		<div class="switch-bg"></div>
		<div class="round-box"></div>
		<div class="switch-left">
			<span>NO</span>
		</div>
		<div class="switch-right">
			<span>YES</span>
		</div>
	</label>